.HomePage {
    background-image: url('../../assets/images/mars.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    font-family: "FontStarWars1", Helvetica, Arial, sans-serif;
    color: #cb6b41;
    text-align: center;
    margin-top: 5rem;
    font-size: x-large;
}

#home-description {
    font-family: "FontStarWars2", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
    line-height: 1.5;
}

.start-btn {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#play-btn {
    cursor: pointer;
    border-radius: 50%;
    color: #ffffff;
    font-size: 90px;
    height: 150px;
    width: 150px;
    background-color: #cb6b41;
    border: 1px;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

#play-btn :hover {
    opacity: 70%;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tracking {
    -webkit-animation: tracking-in-contract-bck-bottom 2s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-bottom 2s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

Bubble animation #background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: -5%;
    top: 5%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 5%;
    top: 80%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 10%;
    top: 40%;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 20%;
    top: 0;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 30%;
    top: 50%;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 50%;
    top: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 65%;
    top: 70%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite,
        sideWays 3s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 80%;
    top: 10%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 90%;
    top: 50%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 35s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 35s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 35s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
    left: 80%;
    top: 80%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
        inset 0px 10px 30px 5px #d98556;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
        inset 0px 10px 30px 5px #d98556;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #d98556;

    height: 200px;
    position: absolute;
    width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        radial,
        center center,
        0px,
        center center,
        100%,
        color-stop(0%, rgba(255, 255, 255, 0.5)),
        color-stop(70%, rgba(255, 255, 255, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* Opera 12+ */
    background: -ms-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* IE10+ */
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px #cb6b41;
    -moz-box-shadow: inset 0 20px 30px #cb6b41;
    box-shadow: inset 0 20px 30px #cb6b41;

    content: '';
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}
@font-face {
	font-family: "FontStarWars1";
	src: url('../../assets/font/Starjhol.ttf');
}
@font-face {
	font-family: "FontStarWars2";
	src: url('../../assets/font/Starjedi.ttf');
}
@font-face {
	font-family: "FontRebellion";
	src: url('../../assets/font/Rebellion-oPoA.ttf');
}