.header-ctn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  color: var(--yellow);
  height: 2rem;
}

.menu-ctn {
  width: 20rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.menu-ctn li {
  justify-content: space-around;
  margin-right: 1rem;
  width: 5rem;
  text-align: center;
}

.menu-ctn li:hover {
  text-decoration: underline;
  cursor: pointer;
}
