.creation_background {
    background: url('/src/assets/mars_registration.jpg') no-repeat center center fixed;
		background-size: cover;
    width: 100%;
    height: 100vh;
}

.creationSignupSection {
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.creationSignupForm {
    width: 100%;
    padding: 30px;
    background: rgba(223, 176, 146, 0.5);
    transition: 0.2s;
}
.creationTitle {
    font-family: "FontStarWars2", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.creationInputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(98, 48, 35, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.25);
    color: white;
    outline: none;
}

.creationInputFields::placeholder {
    color: white;
    font-family : 'Roboto', sans-serif;
}

.creationNoBullet {
    list-style-type: none;
    padding: 0;
}

/* bouton */
#creationJoinButton {
    border: 1px solid rgba(98, 48, 35, 1);
    background: rgba(20, 20, 20, 0.6);
    font-family: "FontRebellion", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}
#creationJoinButton:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
}

