body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    --black: rgb(21, 19, 19);
    --white: rgb(251, 237, 237);
    --red: #cb6b41;
    --yellow: #f9db9b;
    --beige: #ffe9d0;
    margin: 0;
    padding: 0;
}
