.TrialList {
    background: url("../../Images/Image_ring.jpg") no-repeat center center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
}

/*@media (min-width: 1200px) {
    .TrialList {
    grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (min-width: 801) and (max-width: 1199px) {
    .TrialList {
    grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 600px) and (max-width: 800px) {
    .TrialList {
    grid-template-columns: repeat(2, 1fr);
    }
  }*/